<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Clinic Login</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">

        <link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />
        <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css" />

        <link rel="stylesheet" type="text/css" href="/static/clinic/dist/css/skins/skin-blue.min.css">
        <link rel="stylesheet" type="text/css" href="/static/clinic/dist/css/AdminLTE.min.css">

        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"   integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/clinic/login_styles.css">
    </head>
    <body>
        <script>
            function nospaces(t) {
                if(t.value.match(/\s/g))
                    t.value=t.value.replace(/\s/g,'');
            }
        </script>
        <div class="form-signin login_card">
            <div class="skin-blue wrapper" id="container">
                <section class="content-header" style="padding: 0px; padding-bottom: 5px">
                    <h1>
                    Clinic
                    <small>login</small>
                    </h1>
                </section>
                <div id="content" class="colM">
                    <div id="content-main">
                        {% if error_message %}
                            <p><strong>{{ error_message }}</strong></p>
                        {% endif %}
                        <form method="post" id="login-form" class="from-signin">
                            {% csrf_token %}
                            <div class="form-label-group">
                                <input class="form-control" type="text" placeholder="Username"
                                    name="username" required id="id_username" onkeyup="nospaces(this)" />
                                <label for="id_username" >Username</label>
                            </div>
                            <div class="form-label-group">
                                <input class="form-control" type="password" placeholder="Password"
                                    name="password" required id="id_password" />
                                <label for="id_password">Password</label>
                            </div>
                            <div class="text-right sumbit-row">
                                <button type="submit" class="btn btn-md btn-primary save">Login</button>
                            </div>
                        </form>
                        <div style="padding-top:10px" class="text-right">
                            <a href="doctor/new"><small>New Doctor</small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
