{% extends "clinic/base_extra.html" %}
{% load utilities %}
{% load view-helper %}
{% load static %}
{% block title %}New Patient | {{ doctor.name }}{% endblock %}
{% block content %}
{% if form %}
	{% set width = "col-lg-9" %}
	{% set file_field_w = "col-sm-9" %}
{% else %}
	{% set width = "col-lg-7" %}
{% endif %}
<div class="container py-4">
	<div class="row">
		<div class="col-12 {{width}} mx-auto">
			<div class="card border-primary">
				<div class="card-header">
					<h3 class="card-title text-dark m-0">Register <small class="text-muted">Patient</small></h3>
				</div>
				<div class="card-body">
					<form class="form" action="{% url 'clinic:add' 'patient' %}" method="post">
						<table>
							{% csrf_token %}
							{% autoescape off %}
								{{ form}}
							{% endautoescape %}
						</table>
						<input type="submit" name="" value="">
					</form>
		        </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
