<footer>
	<div class="container-fluid">
        <!-- <div class="container text-white bg-secondary">
            <div class="col-3 col-sm-12 mx-auto">
                <h5>About us</h5>
                <ul>
                    <li class="">text</li>
                    <li class="">text</li>
                    <li class="">text</li>
                </ul>
            </div>
        </div> -->
        <div id="foot" class="row bg-dark text-muted px-2 text-center">
			<p class="col-12 m-0 p-1">
				© Copyright 2018 Clinic | By Pranav Raut
			</p>
		</div>
	</div>
</footer>
