<footer>
	<div class="container-fluid text-white bg-secondary">
        <div class="container t">
            <div class="col-3 col-sm-12 mx-auto">
                <h5>About us</h5>
                <ul>
                    <li class="">text</li>
                    <li class="">text</li>
                    <li class="">text</li>
                </ul>
            </div>
        </div>
        <div class="row">
			<p class="col-12 bg-dark text-muted px-2 text-center m-0 pb-1">
				© Copyright 2018 | Clinic
			</p>
		</div>
	</div>
</footer>