<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="author" content="Pranav Raut">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{% static 'clinic/css/materialize.min.css' %}"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{% static 'clinic/css/new-style.css' %}"/>
        <title>Add {{ obj }} | Clinic</title>
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.datepicker');
                var instances = M.Datepicker.init(elems, M.Datepicker.autoClose);
            });
            
            

            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('select');
                var instances = M.FormSelect.init(elems, );
            });
        </script>
    </head>
    <body>
        <div class="container">
            <header>
                {% if error_message %}
                <div class="alert alert-danger" role="alert" style="margin: 1em;">
                    <span class="glyphicon glyphicon-alert"></span> <b>{{ error_message }}</b>
                </div>
                {% endif %}
            </header>
            <div class="row">
            {% block content %} {% endblock %}  
                
            </div>
        </div>
    </body>
    <script type="text/javascript" src="{% static 'clinic/js/materialize.min.js' %}"></script>
</html>